@import "antd/dist/antd.css";
.custom-cursor {
  cursor:url('./images/cursor.png') 100 100, auto;
}
.navigation {
  .title {
    visibility: hidden;
    opacity: 0;
  }

  .menu-item {
    &:hover {
      .title {
        visibility: visible !important;
        opacity: 1 !important;
        transform: translateX(-25%) translateY(-50%);
      }
    }

    .title {
      &::before {
        content: "";
        position: absolute;
        top: 48%;
        left: -8px;
        width: 0.75rem;
        height: 0.75rem;
        background-color: white;
        transform: rotate(45deg) translateY(-50%);
        border-radius: 2px;
        transition: 0.5s;
      }
    }
  }

  .menu-item.active {
    .icon {
      color: white;
    }
  }

  .indicator {
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #333;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      transition: 0.5s;
    }
  }
}

::-webkit-scrollbar {
  width: 0;
}

.custom-button {
  span {
    animation: btnAnimate 1s linear infinite;
    display: inline-block;
    background-color: #fff;
    pointer-events: none;
    border-radius: 50%;
    position: absolute;
    width: 1px;
    height: 1px;
  }
}

.nav-item {
  position: relative;
  font-weight: bold;
}

.nav-item.active {
  transition: 0.5s;
}

.nav-item:hover a {
  color: #0650be;
}

.nav-item a::before {
  content: "";
  height: 2px;
  background-color: #0d6efd;
  width: 50px;
  position: absolute;
  top: 20px;
  transition: 0.5s;
  opacity: 0;
  transform: translateX(30px);
  box-shadow: 0 2px 4px #010615;
}

.nav-item.active a::before {
  opacity: 1;
  transform: translateX(0px);
}

.login-form {
  transform: translate(-50%, -50%);
}

//music player
.dashboard {
  padding: 16px 16px 14px;
  background-color: #1d3557;
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 480px;
  border-bottom: 1px solid #b13333;
}

.dashboard::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: #db2777;
  width: 100%;
  box-shadow: 0 0 10px #db2777, 0 0 20px #cf3078, 0 0 30px #964167;
}

.playlist {
  width: 480px;
  .no-song-item {
    color: #d5176b;
    font-weight: bold;
    text-shadow: 0 0 10px #d6347d, 0 0 20px #c4608d;
  }
}

.music-time-stamp {
  color: #15ff00;
  text-shadow: 0 0 5px #15ff00, 0 0 10px #15ff00, 0 0 15px #15ff00,
    0 0 20px #15ff00;
}

.song-sub-title {
  color: #000;
}

.song-name {
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
  letter-spacing: 4px;
}

.cd {
  width: 12.5rem;
  height: 12.5rem;
  margin: auto;
  position: relative;
  transition: .3s;
}

.cd,
.cd img,
.cd::before {
  border-radius: 50%;
}

.cd::before {
  content: "";
  // background: linear-gradient(235deg, #fe0000, #16e755, #fbfb00);
  box-shadow: 0 0 4px 0 #000;
  position: absolute;
  top: -0.1px;
  left: -0.1px;
  right: -0.1px;
  bottom: -0.1px;
  z-index: -1;
  transition: 0.5s;
}

.btn {
  color: rgb(151, 148, 148);
}

.btn:hover {
  transition: 0.5s;
  color: #fff;
}

.btn.active {
  color: #ff006e;
}

.btn:hover svg {
  filter: drop-shadow(0 0 5px #fff);
}

.btn.active svg {
  filter: drop-shadow(0 0 8px #ff006f);
}
.option:hover svg{
  margin-left: 2px;
  font-size: 16px;
}
.option svg{
  margin-left: 0px;
  transition: .3s;
}
.option {
  display: flex;
  align-items: center;
}

@keyframes bgChanges {
  0% {
    background: linear-gradient(0deg, #fe0000, #16e755, #fbfb00);
  }

  100% {
    background: linear-gradient(360deg, #1b0aff, #ec00d8, #fb7900);
  }
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}

.progress {
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  height: 6px;
  outline: none;
  width: 100%;
}

.volume {
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 10px;
  height: 6px;
  outline: none;
  background-color: transparent;
  width: unset;
}

.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #f97316;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 10px #f97316;
}

.progress::-webkit-slider-thumb {
  z-index: 2;
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: red;
  cursor: pointer;
  position: relative;
  box-shadow: 0 0 10px rgb(223, 52, 52);
}

.progress::-webkit-slider-thumb::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  bottom: -3px;
  right: -3px;
  background-color: #0650be;
}
.song-item {
  position: relative;
  transition: .4s;
}
.song-item:hover {
  background-color: rgb(201, 72, 72);
  box-shadow:0 0 8px rgb(223, 103, 103),0 0 12px rgb(219, 172, 172) ;
}
.song-item.active {
  background-color: rgb(201, 72, 72);
  .dot-icon {
    animation: 3s upAndDown 0s ease-in-out infinite;
    transition: .3s;
  }
  .dot-icon:nth-child(2) {
    animation: 3s upAndDown 1s ease-in-out infinite;
  }
  .dot-icon:nth-child(3) {
    animation: 3s upAndDown 2s ease-in-out infinite;
  }
}
@keyframes upAndDown {
  0%,100%{
    transform: translate(0, 0px);
  }
  25%{
    transform: translate(0, -2px);
  }
  50%{
    transform: translate(0, 0px);
  }
  75%{
    transform: translate(0, 2px);
  }

}

.cd-left {
  top: 50px;
  left: -50px;
}

.cdThumb,
.avt-img {
  animation-play-state: paused;
  animation: 0.5s;
}

.cdThumb.active {
  animation-play-state: running !important;
  animation: CDRotate 10s linear infinite !important;
  animation: 0.5s;
}

.div-no-img {
  width: 100%;
  height: 100%;
  background-color: #000;
}

.avt-img.active {
  animation-play-state: running !important;
  animation: CDRotate 10s linear infinite !important;
  animation: 0.5s;
}

@keyframes CDRotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes btnAnimate {
  0% {
    opacity: 0.5;
    scale: 1;
  }

  100% {
    scale: 1000;
    opacity: 0;
  }
}
.bg-cover {
  // position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.4;
  z-index: 9;
}

.modal-item-wrapper {
  animation: appear .4s forwards;
  width: 100px;
  height: fit-content;
  border-radius: 4px;
  box-shadow: 0 0 10px #000;
  position: absolute;
  top: -6px;
  right: -80px;
  background: rgba(10, 25, 46, 0.8);
  z-index: 10;
  overflow: hidden;
  ul {
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0;
    z-index: 10;
    list-style: none;
    li {
      height: 24px;
      font-size: small;
      position: relative;
      width: 100%;
      transition: 0.5s;
      padding-right: 8px;
      padding-left: 8px;
      display: flex;
      align-items: center;
    }
    li:hover {
      text-shadow: 0 0 10px #fff, 0 0 10px rgb(197, 197, 197),
        0 0 10px rgb(88, 88, 88);
        letter-spacing: 4px;
    }
    li:nth-child(2) {
      height: 30px;
    }
    li:nth-child(2)::before {
      content: "";
      height: 1px;
      width: 150%;
      background-color: rgb(143, 143, 143);
      position: absolute;
      bottom: 0;
      left: -20px;
    }
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.logo-icon-side-left {
  top: 50%;
  left: calc(50% - 500px);
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 8px #fff);
  opacity: 0.6;
}
.logo-icon-side-right {
  top: 50%;
  left: calc(50% + 500px);
  transform: translate(-50%, -50%);
  filter: drop-shadow(0 0 8px #fff);
  opacity: 0.6;
}
.logo-icon-side-left:hover,
.logo-icon-side-right:hover {
  animation: appearContinuously .3s forwards linear
}
@keyframes appearContinuously {
  0% {
      opacity: 0.6;
  }
  20% {
      opacity: 0.8;
  }
  40% {
      opacity: 0.2;
  }
  60% {
      opacity: 0.8;
  }
  80% {    
      opacity: 0.4;
  }
  100% {
      opacity: 1;
  }
}